你现在改写的部分是疾病症状显现与疾病恶化部分，有如下要求：



通过一些生活场景来描述疾病的发生与恶化，200字左右
1.使用真实场景化，与患者人设相对性（符合普通大众认知）
2.直接写疾病状态，只选该病最典型、最易被大众识别 的几个核心症状。但是！只能说症状，不能说这些症状是由什么行为导致的。例如，不能说“这些症状是晨跑时间过早吸入污染物和缺乏热身导致的肌肉关节损伤典型表现。”，因为这样会导致没有悬念了。


例子如下：
---例子开始---

{{example}}

---例子结束---

你需要做的事情如下：

1. 首先，对我给你的例子当中，疾病变化的逻辑，语言的描述风格进行详细分析。
2. 然后，仔细分析你需要扩写的段落内容，仔细检查其逻辑发展是否合理、精彩，并思考合理的发展逻辑。
3. 原文可能存在一些衔接不合理之处。请你在扩写的过程中，进行合理的衔接和逻辑发展，使得每一个场景都描述清晰。
4. 直接写疾病状态，只选该病最典型、最易被大众识别 的几个核心症状。但是！只能说症状，不能说这些症状是由什么行为导致的。例如，不能说“这些症状是晨跑时间过早吸入污染物和缺乏热身导致的肌肉关节损伤典型表现。”，因为这样会导致没有悬念了。
5. 输出在500字左右。
6. 结合你的分析进行写作。在输出部分，你需要直接给出文章的内容，除此之外不能输出任何其他内容。



