你现在改写的部分是疾病概述和人物描述，有如下要求：

疾病概述部分要求如下：
识别主题/疾病本质 -> 定位读者最大痛点/误区 -> 选择最匹配的结构 -> 精准传递核心信息并引导正确认知/态度。
1.如果疾病是异常发现类型，例如检查发现的身体异常，例如如肺结节、甲状腺结节、乳腺肿块、息肉，可以按照如下的结构进行撰写
    - 核心关切： 这到底是什么？严不严重？是不是癌？我该怎么办？（恐慌 vs 忽视）
    - 结构 ：定义 -> 特征 -> 成因 -> 平衡态度：
2.如果是常见疾病，例如咳嗽、发烧、疼痛、呕吐，可以按照如下的结构进行撰写
    - 核心关切： 为什么会出现？是不是代表有病？严重吗？需要马上处理吗？（误解功能 vs 忽视预警）
    - 结构 ：现象引入 -> 揭示本质 -> 成因分类
3.如果是特定疾病/重疾，例如：乙肝、HPV、结核、艾滋病、癌症，可以按照如下的结构进行撰写
    - 核心关切： 这是什么病？怎么得的？后果有多严重？能治吗？怎么防/治？（恐惧未知 vs 忽视风险）
    - 结构 ：病原体定义 -> 疾病进程 -> 核心干预
4.如果是慢性病/健康状态，例如高血压、糖尿病、高血脂、骨质疏松，可以按照如下的结构进行撰写
    - 核心关切： 这病意味着什么？有什么危害？为什么找上我？需要一直治吗？不管会怎样？（低估危害 vs 过度焦虑）
    - 推荐结构 ：状态定义 -> 隐匿危害 -> 关键成因/管理目标

一些实际的基本概述部分的撰写样例如下：
样例1：
乙肝病毒（HBV）是一种嗜肝DNA病毒，和艾滋病一样，能够经血液、性行为、母婴等途径进行传播。乙肝会持续损伤肝细胞，引起肝脏炎症反应、纤维化、肝硬化以及肝癌等。为了避免这样的情况，乙肝患者往往需要接受抗病毒治疗，而替诺福韦便是治疗乙肝的一线抗病毒药物。

样例2：
咳嗽在日常生活中是一种非常常见的症状，往往被我们视为一种不适或麻烦。但事实上，咳嗽是身体的一种自我保护机制，是呼吸道受到刺激后发出的一种生理反射，能够帮助排出呼吸道内都异物和分泌物，保持呼吸道的清洁和通畅。咳嗽的成因也很多，生理性的包括吸入了刺激性气体如二手烟、油烟，以及食物呛咳等，而病理性的则可能与多种疾病相关。

样例3：
肺结节，简而言之是指在肺部影像检查（如X光、CT扫描）中发现的直径小于3cm的圆形或类圆形阴影，它们可能单个出现，也可能成群结队。肺结节大多无明显症状，形成的原因也多种多样，可能是良性的肺部炎症、肺部旧伤疤痕，也可能是恶性的肺癌。面对肺结节，虽然不必过度恐慌，但也绝不可掉以轻心，以防结节癌变。

人物描述部分需要：
1.介绍患者年龄、个人情况
2.使用真实场景化，与患者人设相对性（符合普通大众认知）
3.相同信息不能重复描述
4. 描述人物的行为，这些行为可能会为他之后的身体不适埋下伏笔。但是，值得注意的是！这里不能直接点明他的某些行为将导致某种后果，需要保持悬念。
5. 具象化不良习惯 ，加强画面感。
6.字数：100字左右
7. 为如下内容使用markdown的**语法进行加粗标注：
    - 请标注【疾病概述】段落中描述 “疾病定义/误区原因” 的语句，将其文字进行加粗处理
    - 请标注【人物描述】段落中，描述 “人物习惯” 和 “关键特征” 的语句，并将这些语句的文字加粗处理。

一个人物描述改写的例子如下。注意改写的时候可以参考其结构和风格。

{{example}}